# operations
# alias cp="cp -i"                          # confirm before overwriting something
alias df='df -h'                          # human-readable sizes
alias free='free -m'                      # show sizes in MB
alias np='nano -w PKGBUILD'
alias more=less
alias rm='rm -i'                          # confirm before
alias mv='mv -i'                          # confirm before
alias mkd="mkdir -pv"
alias pcp="rsync -r --progress"

# systemctl
alias status="systemctl status"
alias start="sudo systemctl start"
alias stop="sudo systemctl stop"
alias reload="sudo systemctl reload"

# goto
alias gh="cd ~"
alias gvw="cd /var/www"
alias gp="cd ~/Bilder"
alias gd="cd ~/Downloads"
alias gD="cd ~/Dokumente"
alias gcc="cd ~/code"
alias gcw="cd ~/code/web"
alias gca="cd ~/code/app"

# youtube
alias yt="youtube-dl --add-metadata -i"
alias yta="yt -x -f bestaudio/best"

# colors
alias ll='ls -ahl --color=auto --group-directories-first'           # list all files as list in human-readable
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias diff="diff --color=auto" \
alias f="fuck"

# npm
alias npmre='rm -f package-lock.json && rm -rf node_modules && npm install'

# mount
alias mntmusic='sudo mount -t nfs ds214se:/volume1/music /home/ringo/Musik'
alias mntaudiobooks='sudo mount -t nfs ds214se:/volume1/audiobooks /home/ringo/Hörbücher'
alias mntebooks='sudo mount -t nfs ds214se:/volume1/eBooks /home/ringo/Bücher'

alias cpUdes2Rolf='rm /run/media/ringo/Rolf/VMs/Udes/Udes.vdi; sleep 3; pcp /home/ringo/VMs/Udes/Udes.vdi /run/media/ringo/Rolf/VMs/Udes';
alias cpUdes2Home='rm /home/ringo/VMs/Udes/Udes.vdi; sleep 3; pcp /run/media/ringo/Rolf/VMs/Udes/Udes.vdi /home/ringo/VMs/Udes';

# stuff
function rdel {
  if [ -z "$2" ]; then
    DELPATH=${PWD}
  else
    DELPATH=$2
  fi

  if [ -z "$1" ]; then
    PATTERN="*"
  else
    PATTERN=$1
  fi

  #find ${DELPATH} -type f -name ${PATTERN} -delete
  echo $DELPATH
  echo $PATTERN
}

