# operations
# alias cp="cp -i"                          # confirm before overwriting something
alias df='df -h'                          # human-readable sizes
alias free='free -m'                      # show sizes in MB
alias np='nano -w PKGBUILD'
alias more=less
alias rm='rm -i'                          # confirm before
alias mv='mv -i'                          # confirm before
alias mkd="mkdir -pv"
alias pcp="rsync -r --progress"

# systemctl
alias status="systemctl status"
alias start="sudo systemctl start"
alias stop="sudo systemctl stop"
alias reload="sudo systemctl reload"

# goto
alias gh="cd ~"
alias gvw="cd /var/www"
alias gp="cd ~/Bilder"
alias gd="cd ~/Downloads"
alias gD="cd ~/Dokumente"
alias gcc="cd ~/code"
alias gcw="cd ~/code/www"
alias gcp="cd ~/code/privat"
alias gct="cd ~/code/the-surge"
alias gcs="cd ~/code/the-surge"
alias gcS="cd ~/code/server"
alias gck="cd ~/code/kfi"

# youtube
alias yt="youtube-dl --add-metadata -i"
alias yta="yt -x -f bestaudio/best"

# epub zip
alias mkepub="zip -rX ./ebook.epub mimetype META-INF/ OEBPS/"

# colors
# alias l='ls -ahl --color=auto --group-directories-first'           # list all files as list in human-readable
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias diff="diff --color=auto" \
alias f="fuck"

# npm
alias npmre='rm -f package-lock.json && rm -rf node_modules && npm install'

# mount
alias mntmusic='sudo mount -t nfs homeserver:/mnt/user/music /home/ringo/Musik/NAS'
alias mntaudiobooks='sudo mount -t nfs homeserver:/mnt/user/audiobooks /home/ringo/Hörbücher'
alias mntebooks='sudo mount -t nfs homeserver:/mnt/user/ebooks /home/ringo/Bücher'
alias mntvideos='sudo mount -t nfs homeserver:/mnt/user/video /home/ringo/Videos/NAS'
alias mntpodcasts='sudo mount -t nfs homeserver:/mnt/user/podcasts /home/ringo/Podcasts'

alias umntmusic='sudo umount /home/ringo/Musik/NAS'
alias umntaudiobooks='sudo umount /home/ringo/Hörbücher'
alias umntebooks='sudo umount /home/ringo/Bücher'
alias umntvideos='sudo umount /home/ringo/Videos/NAS'
alias umntpodcasts='sudo umount /home/ringo/Podcasts'

# fastlane
alias be="bundle exec"
alias bef="bundle exec fastlane"
alias bu="bundle update"
alias bi="bundle install"

# fzf
alias fzp="fzf --preview 'bat --color=always {}' --border block"

# stuff
function rdel {
  if [ -z "$2" ]; then
    DELPATH=${PWD}
  else
    DELPATH=$2
  fi

  if [ -z "$1" ]; then
    PATTERN="*"
  else
    PATTERN=$1
  fi

  echo "remove all $PATTERN Files from $DELPATH and below? [y/n]"
  read answer

  echo $answer

  if [ $answer = "y" ]; then
    find ${DELPATH} -type f -name ${PATTERN} -delete
  fi
}


if [ -f /usr/bin/eza ]
then
    alias l="eza -lg --icons=auto --color-scale=all"
    alias ll="eza -alg --icons=auto --color-scale=all"
    alias lt="eza -algT --icons=auto --color-scale=all"
fi
